body{
    background-color: darkblue;
}

nav{
    margin-top: 10px;
}

.text{
    color: grey;
}

.a{
    margin: 15px;
}

#mainBody{
    width: 99.8%;
    margin-top: 20px;
    height: 600px;
}

#lowerBody{
    width: 99.8%;
    margin-top: 20px;
    height: 90px;
}

.rubrik{
    margin-left: 20px;
}

.kontakt{
    margin-left: 20px;
    border: 2px solid black;
    margin: 10px;
    
}

td{
    padding: 10px
}

.forms{
    margin-left: 20px;
}

label{
    font-size: 20px
}

.icon{
    margin-top: 4px
}

#button{
    width: 100px;
    height: 30px;
    margin-left: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa:hover {
    opacity: 0.7;
}

#symboler{
    float:right;
    margin-right: 10px;
}

#copy{
    margin-left: 10px;
}
